<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.beans.Student" id="StdId" >
    
	<property name="name" value="Nitin Jori"/>
	<property name="rollno" value="101"/>
	<property name="email" value="jorinitin54@gmail.com"/>
	
    </bean>
    
    <bean class="com.beans.Student" id="StdId1" >
    
	<property name="name" value="Pratik Jori"/>
	<property name="rollno" value="102"/>
	<property name="email" value="pratik@gmail.com"/>
	
    </bean>

</beans>